<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef># </mat-header-cell>
      <mat-cell *matCellDef="let working_day">{{working_day.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date </mat-header-cell>
      <mat-cell *matCellDef="let working_day">{{working_day.date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="present_students">
      <mat-header-cell *matHeaderCellDef>Present Students </mat-header-cell>
      <mat-cell *matCellDef="let working_day">{{working_day.present_students}}</mat-cell>
    </ng-container>
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" routerLink="/working-day-details/{{row.id}}"> </mat-row>
  
  </mat-table>
</div>