<h1>{{ $working_day.date }}</h1>

<ul>
  <li><strong>Present Students:</strong> {{ $working_day.present_students }}</li>
  <li><strong>Absent Students:</strong> {{ $working_day.absent_students }}</li>

  <h3>Lectures</h3>
  <div *ngFor="let item of $working_day.lecture_attendances;">

    <li><a class="blue-text" routerLink="/lecture-attendance-details/{{item.id}}">{{ item.lecture_name }}</a><br><br>
      Present:{{ item.present_students.length }}<br>
      Absent:{{ item.absent_students.length }}<br><br>
    </li>